@import '../template.scss';
.right-side {
  background-color: #eb4747;
  background-image: linear-gradient(to left, #eddd29, #747ff5);
  height: 100vh;
  // display: flex;
  justify-content: center;
  // padding: 60px;
  // .content {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  flex-direction: column;
  // width: 60%;
  // position: relative;
  .content {
    width: 60%;
    position: absolute;
    top: 177px;
    left: 70px;
    h2 {
      // position: absolute;
      // top: 5%;
      // left: 0;
      font-weight: 800;
    }
    h3 {
      font-weight: 750;
      color: #ffdede;
      // position: absolute;
      // top: 25%;
      // left: 0;
      border-radius: 30px;
    }
    p {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 20px;
      color: #ffdede;
    }
    .signup {
      border: 1px solid;
      border-radius: 30px;
      width: 100px;
      height: 30px;
      letter-spacing: 1.5px;
      font-size: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      color: #ffdede;
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
      // background-image: linear-gradient(to left, #eb4747, #ff8b8b);
      &:hover {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
        color: #fff;
      }
    }
  }
}
